<div class="container">
  <div class="row">
    <div class="span4">

      <div class="well" style="max-width: 340px; padding: 8px 0;">
        <ul class="nav nav-list">
          <li><%= link_to 'Dashboard', applicants_path %></li>
          <li class="divider"></li>
          <li class="nav-header">Phases</li>
          <li class="active"><a href="#">Raw</a></li>
          <li><a href="#">Medium</a></li>
          <li><a href="#">Bacon</a></li>
          <li><a href="#">Burned</a></li>
          <li class="nav-header">Other stuff</li>
          <li><a href="#">Statistics</a></li>
          <li><a href="#">Admin panel</a></li>
          <li class="divider"></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>

    </div>
    <div class="span8">
      <h4>Fresh meat</h4>
      <hr />
      <%= render "raw" %>

    </div>
  </div>
</div>
